@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Bodoni Moda', serif;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
